.resultsContainer {
    border: none;
}
.bookTitle {
    padding-left: 0;
}
button {
    margin: 5px;
}
.search-list {
    padding: 20px;
}
.row {
    display: flex;
    flex-wrap: wrap;
    justify-content: space-between;
}
.bookImage {
    display: flex;
    flex-wrap: wrap;
    justify-content: space-between;
    background-color: red;
    margin-left: auto;
}
